<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maoqifan.mq.mapper.ds1.TUserMapper">
    <insert id="insert">
        INSERT INTO t_user(id, username) value (#{id}, #{userName});
    </insert>
</mapper>